.passing-underline {
    position: relative;
    z-index: 150;
}
.passing-underline::before {
    content: '';
    position: absolute;
    width: 99%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    
  }

.passing-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}