.rating {
    position: relative;
    font-size: 25px;
    display: inline-block;
    color: rgb(181, 157, 109);
}
    .rating__items {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }
    .rating__item {
        position: absolute;
        width: 0%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        top:0;
        left:0;
    }
    .rating__label {
        flex: 0 0 20%;
        height: 100%;
        cursor: pointer;
    }
    .rating__label::before {
        content: "★";
        display: block;
        transition: color 0.3s ease 0s;
    }
    .rating__item:checked,
    .rating__item:checked ~ .rating__label{
        color: rgb(255, 197, 79);
    }
    .rating__label:hover,
    .rating__label:hover ~ .rating__label,
    .rating__label:checked ~ .rating__label:hover {
        color: rgb(255, 197, 79);
    }
.rating::before {
    content: "★★★★★";
    display: block;
}

//если надо прижать рейтинг к низу колонки, то на родительский контейнер дополнительно нужно повесить align-items flex-start
// иначе віходит какая то хуйня