.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 50px; }
  .contact__container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; }
  .contact__title {
    margin-bottom: 70px;
    text-align: center; }
  .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .contact__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .contact__form {
    position: relative; }
    @media (min-width: 767px) {
      .contact__form {
        margin-right: 100px; } }
  .contact__form::after {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/02.gif") center 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .contact ._sending::after {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/02.gif") center 50px no-repeat;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 30px; }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .contact__item:not(:last-child) {
    margin-bottom: 37px; }
  .contact__icon {
    width: 24px;
    height: 24px; }
  .contact__link {
    margin-left: 20px; }
    .contact__link a {
      color: #333;
      font-family: TT Hoves;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal; }
      @media (max-width: 767px) {
        .contact__link a {
          font-size: 18px; } }

.input-container {
  margin-bottom: 14px;
  max-width: 374px; }
  .input-container input {
    width: 100%;
    height: 56px;
    border-radius: 61px;
    background: #9FDEA9;
    color: white;
    font-weight: 700;
    padding-left: 20px; }

.form-button {
  width: 168px;
  height: 56px;
  border-radius: 61px;
  border: 3px solid #4DB96B;
  background-color: #FFF;
  font-weight: 700;
  color: #4DB96B;
  text-align: center; }

.form-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .form-button-container {
      margin-bottom: 20px; } }

.form-input._error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red; }
